<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <link rel="stylesheet" href="/public/CSS/style.css">
     <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"rel="stylesheet"/>
     <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-rose-50">
     <div class="navbar w-full flex justify-between px-20 py-10">
          <h1 class="font-bold text-xl font-sans italic">Khatabook</h1>
          <div class="bg-red-500 hidden absolute top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 rounded-md px-3 py-2">
               <h3>some error</h3>
          </div>
          <div class="links flex gap-4">
               <a href="/">Home</a>
               <a href="/create">Create New Hisaab</a>
               <a class="text-red-600" href="/logout">logout</a>
          </div>
     </div>